.job-card {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}



.star {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.star-liked {
  cursor: pointer;
}